In [16]:
import pandas as pd
import glob

In [49]:
core_path = '/home/magdalena/Desktop/magister/SSL_DATASET/ZTF_SSL_Dataset'
parquets = glob.glob(f'{core_path}*.parquet')

In [50]:
parquets[0]

'/home/magdalena/Desktop/magister/SSL_DATASET/df_candidates_59580.parquet'

In [51]:
dfs = []
for file in parquets:
    df = pd.read_parquet(f'{file}')
    df = df[df['ndet']>2]
    dfs.append(pd.DataFrame(df.index))

In [52]:
dfs[0]

              oid
0    ZTF22aagdeqm
1    ZTF19aarclxt
2    ZTF23aazugws
3    ZTF22aaaemgb
4    ZTF22aaanxpx
..            ...
353  ZTF23aboakoc
354  ZTF22aaadufv
355  ZTF18acsskef
356  ZTF22aaadubz
357  ZTF22aajshqr

[358 rows x 1 columns]

In [53]:
sinit = pd.DataFrame()
for df in dfs:
    sinit = pd.concat([df,sinit],axis=0)

In [55]:
sinit

              oid
0    ZTF22aagndzh
1    ZTF22aabfncf
2    ZTF22aaaydog
3    ZTF23aafmcrx
4    ZTF18abebsyp
..            ...
353  ZTF23aboakoc
354  ZTF22aaadufv
355  ZTF18acsskef
356  ZTF22aaadubz
357  ZTF22aajshqr

[39110 rows x 1 columns]

In [54]:
sinit.to_parquet(f'{core_path}/oids.parquet')

In [57]:
sinit[:100].to_parquet(f'{core_path}/100_oids.parquet')