In [2]:
!pip install alerce

Requirement already satisfied: alerce in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (1.2.0)
Requirement already satisfied: pandas>=1.1.2 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from alerce) (2.2.0)
Requirement already satisfied: astropy>=4.0.1 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from alerce) (6.1.4)
Requirement already satisfied: requests>=2.24.0 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from alerce) (2.32.3)
Requirement already satisfied: numpy>=1.23 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from astropy>=4.0.1->alerce) (1.24.3)
Requirement already satisfied: pyerfa>=2.0.1.1 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from astropy>=4.0.1->alerce) (2.0.1.4)
Requirement already satisfied: astropy-iers-data>=0.2024.8.27.10.28.29 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from astropy>=4.0.1->alerce) (0.2024.10.14.0.32.55)
Requirement already satisfied: PyYAML>=3.13 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from astropy>=4.0.1->alerce) (6.0.2)
Requirement already satisfied: packaging>=19.0 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from astropy>=4.0.1->alerce) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from pandas>=1.1.2->alerce) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from pandas>=1.1.2->alerce) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from pandas>=1.1.2->alerce) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from requests>=2.24.0->alerce) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from requests>=2.24.0->alerce) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from requests>=2.24.0->alerce) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from requests>=2.24.0->alerce) (2024.8.30)
Requirement already satisfied: six>=1.5 in /home/magdalena/miniconda3/envs/dataset/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.1.2->alerce) (1.16.0)

In [3]:
import pandas as pd
import numpy as np
from alerce.core import Alerce  
import os
import glob
import os

Collect oids pulled from ALeRCE by year of first observation

In [10]:
#years = [2020,2021]
years = [
        #2016,
        # 2017,
        # 2018,
         2019,
         2020,
         2021
         ,2023
         #,2024
         ]
years = [2019]
core_path = '/home/magdalena/Desktop/magister/SSL_DATASET/ZTF_SSL_Dataset'
parquets = []
for year in years:
    # Create a directory for the year
    year_dir = os.path.join(core_path, str(year))
    # Find the latest processed MJD
    existing_files = glob.glob(os.path.join(year_dir, 'oids_*.parquet'))
    print(len(existing_files))
    for file in existing_files:
        parquets.append(file)
    #print(existing_files)

364

Concatenate all colected oids into a single df

In [11]:
dfs = [pd.read_parquet(file) for file in parquets]

'''
for i in range(len(years)):
    print(i)
    for j in range(len(dfs)):
        dfs[j]['year'] = str(years[i]) 
    #print(dfs[i])
'''
# Concatenate all DataFrames
combined_df = pd.concat(dfs, ignore_index=False)

In [12]:
display(combined_df)

             ndet
oid
ZTF20acvpfij    2
ZTF20acvyxjb    1
ZTF21abbcxnt    2
ZTF20acwgsbu    1
ZTF20acxidyo    2
...           ...
ZTF19ablrvjh    2
ZTF22aaxmhkt    1
ZTF20abgggfc    1
ZTF19abkcffh   35
ZTF21aalkpfp    4

[18132492 rows x 1 columns]

Select oids with ndets>2

In [13]:
#nomjd = combined_df.drop(columns = 'mjdstarthist')
nomjd = combined_df
nomjd = nomjd[nomjd['ndet']> 2]
display(nomjd)

             ndet
oid
ZTF18abkpspu   11
ZTF19abzbsue    4
ZTF19abzcyed    6
ZTF19abzcnij    5
ZTF19abzczag    3
...           ...
ZTF18abxzdxy    6
ZTF18abepoeh    3
ZTF19abjjxhk    3
ZTF19abkcffh   35
ZTF21aalkpfp    4

[3258811 rows x 1 columns]

Select oids with ndet>6

In [14]:
#nomjd = combined_df.drop(columns = 'mjdstarthist')
nomjd = nomjd[nomjd['ndet']> 6]
display(nomjd)

             ndet
oid
ZTF18abkpspu   11
ZTF19abzehkt    7
ZTF19abzezoj    8
ZTF19abzeind    7
ZTF19abzdskd    8
...           ...
ZTF19abfyxnb   14
ZTF19abcteqo    8
ZTF19abdozvr    7
ZTF19abfnxhp   42
ZTF19abkcffh   35

[962640 rows x 1 columns]

In [15]:
#nomjd.to_parquet(f'{core_path}/2020_oids.parquet')

Save df by chunks for further processing

In [6]:
'''
n_chunks = 8
chunks = np.array_split(nomjd,n_chunks)
for i in range(n_chunks):
    chunks[i].to_parquet(f'{core_path}/sixplusdets_oids_{i}.parquet')
'''

"\nn_chunks = 8\nchunks = np.array_split(nomjd,n_chunks)\nfor i in range(n_chunks):\n    chunks[i].to_parquet(f'{core_path}/sixplusdets_oids_{i}.parquet')\n"